*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin-top: 100px;
}

h1{
    text-align: center;
    color: blue;
    
}

#form-validation{
    border: grey 1px solid;
    width: 50vw;
    height: 60vh;
    min-width: 300px;
    box-shadow: 2px 2px 5px pink;
    margin: auto;
    display: grid;
    padding: 20px;
}

#form-validation label{
    font-size: 20px;
    color: blue;
    margin-bottom: 5px;
}
#form-validation .form-group{
    display: flex;
    flex-direction: column;

}

#form-validation .form-group span{
    color: red;
    margin-top: 5px;
}

#form-validation .form-group input{
    height: 30px;
    border: none;
    border-bottom:1px solid grey;
    font-size: 15px;
    padding: 5px;
}

#form-validation button{
    height: 35px;
    background:blue;
    color: white;
    border-radius: 5px;
    font-size: 20px;

}
